task_1/__pycache__/Dropout.cpython-313.pyc
task_1/activations/__pycache__/__init__.cpython-313.pyc
task_1/activations/__pycache__/ReLU.cpython-313.pyc
task_1/activations/__pycache__/Sigmoid.cpython-313.pyc
task_1/activations/__pycache__/Softmax.cpython-313.pyc
