name: IN3063_Coursework_env_task1
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pip
  - tensorflow  # Just for loading dataset for task 1.
